<ion-content [fullscreen]="true" scroll-y="false" class="no-scroll">
  <div class="screen">
    <div class="main">
      <section class="card">
        <!-- progress dots -->
        <div class="dots">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>

        <h1 class="title">Jagd das Schwein</h1>

        <div class="stats">
          <div>Zeit Verbleibend: <b>{{ timeRemaining }}</b></div>
          <div>Schnitzel : <b>0x</b></div>
        </div>

        <!-- map -->
        <div class="map-frame">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d443.5525487767597!2d8.300916253178052!3d47.027465876034015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ffb6fc48be237%3A0x85cb29370bce2b77!2sThe%20Jack&#39;s%20House%20%7C%20Restaurant%20Kriens!5e1!3m2!1sen!2sch!4v1769077703121!5m2!1sen!2sch"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          >
          </iframe>
        </div>

        <!-- mission -->
        <div class="mission">
          <h2>Geh zum ausgewiesenen Bereich</h2>
          <p class="hint">Geh zu dem auf der Karte markierten Punkt.</p>

          <div [class]="getDistanceColorClass()">
            Distanz: {{ getFormattedDistance() }}
          </div>

          @if (isWithinTargetDistance) {
          <div class="success-message">
            Ziel erreicht! Sie sind innerhalb von {{ TARGET_DISTANCE_THRESHOLD
            }}m
          </div>
          } @if (locationError) {
          <div class="error-message">
            {{ locationError }}
            <button class="retry-button" (click)="retryLocationPermission()">
              Erneut versuchen
            </button>
          </div>
          } @if (isTrackingLocation && !isWithinTargetDistance) {
          <div class="status-message">Standort wird verfolgt</div>
          } @if (isWithinTargetDistance) {
          <app-button variant="filled" (click)="onContinue()">
            <p>Weiter</p>
          </app-button>
          } @if (!isWithinTargetDistance) {
          <app-button variant="text" (click)="onSkip()">
            Überspringen
          </app-button>

          }
        </div>
      </section>
    </div>

    <app-button
      class="bottom"
      variant="outline-icon"
      ,
      routerLink="/leaderboard"
    >
      <p>Abbrechen</p>
    </app-button>
  </div>
</ion-content>
