// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
$primary: #DE6430;
$black: #03071e;
$white: #f8f9fa;

:root {
    --ion-color-primary: #DE6430;
}