<ion-content class="home">
  <div class="panel" style="margin-top: 40px">
    <div class="welcome">
      <div class="welcome-left">
        <div class="avatar">
          <div class="avatar-inner">{{ initial }}</div>
        </div>

        <div class="welcome-text">
          <div class="welcome-title">Welcome Back,</div>
          <div class="welcome-name">{{ user.name }} !</div>
        </div>
      </div>

      <div class="welcome-actions">
        <button class="welcome-cta" (click)="goToLeaderboards()">
          Zum Leaderboards
        </button>

        <button class="welcome-cta" (click)="gotoName()">Ändere Name</button>
      </div>
    </div>
  </div>
  <div class="section-divider">
    <span>Available Schnitzel</span>
  </div>

  <!-- Schnitzel cards -->
  <div class="schnitzel-list">
    @for (s of schnitzels; track s.id) {
    <app-schnitzel-card
      [schnitzel]="s"
      (start)="startHunt(s)"
    ></app-schnitzel-card>
    }
  </div>
</ion-content>
