@use './../../theme/variables.scss' as *;

.btn {
    --ion-color-primary-contrast: #fff;
    border: 1px solid $primary;
    transition: background 0.2s ease, color 0.2s ease;

    &:hover {
        background: $white;
        color: $primary;
    }
}

.btn-outline {
    background: transparent;
    border: 1px solid $primary;
    color: $primary;
    transition: background 0.2s ease, color 0.2s ease;

    &:hover {
        background: $primary;
        color: $white;
    }
}