<ion-content [fullscreen]="true" scroll-y="false" class="no-scroll">
  <div class="screen">
    <div class="main">
      <section class="card">
        <!-- top card -->
        <div class="top-card">
          <div class="small-title">Jagd den Schwein</div>
          <h1 class="headline">Glückwunsch</h1>
          <div class="welcome-name">{{ user.name }} !</div>
          <div class="sub">
            Du hast die Jagd beendet und bekommst<br />
            als Belohnung {{earnedThisRun}} Schnitzel
          </div>

          <div class="trophy">
            <!-- replace with your image if you have one -->
            <img src="assets/pictures/trophy.png" alt="Trophäe" />
            <div class="badge">{{ earnedThisRun }}x</div>
          </div>

          <div class="small-footer"></div>
        </div>

        <div class="task-list">
          @for (r of rewardedTasks; track r.taskIndex) {
          <div class="task-row">
            <div class="task-left">
              <div class="task-title">Aufgabe {{ r.taskIndex }}</div>
              <div class="task-reward">+{{ r.schnitzelEarned }}x</div>

              @if (r.potatoEarned > 0) {
              <div class="task-penalty">+{{ r.potatoEarned }} 🥔</div>
              }
            </div>

            <div class="task-right">
              <img
                class="schnitzel"
                src="assets/pictures/schnitzel.png"
                alt="Schnitzel"
              />
            </div>
          </div>
          } @if (rewardedTasks.length === 0) {
          <div class="task-row" style="justify-content: center">
            <div style="font-weight: 700; opacity: 0.75">
              Keine Aufgabe abgeschlossen – kein Schnitzel erhalten.
            </div>
          </div>
          }
        </div>

        <!-- account -->
        <div class="account">
          <div class="account-title">Dein Konto</div>

          <div class="account-row">
            <div class="acc-item">
              <div class="acc-value">{{ totalSchnitzel }}</div>
              <img
                class="acc-icon"
                src="assets/pictures/schnitzel.png"
                alt="Schnitzel"
              />
            </div>

            <div class="acc-item">
              <div class="acc-value">{{ totalPotatoes }}</div>
              <img
                class="acc-icon"
                src="assets/pictures/potato.png"
                alt="Kartoffel"
              />
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- bottom actions -->
    <div class="actions">
      <app-button class="outline" variant="outline" (click)="goLeaderboard()">
        <p><strong>LeaderBoards</strong></p>
      </app-button>

      <app-button class="filled" variant="filled" (click)="goNext()">
        <p><strong>Erneut starten</strong></p>
      </app-button>
    </div>
  </div>
</ion-content>
